@media (max-width:768px) {
    h1{
        font-size: 16px;
    }
    .madsuke{
        height: 50px;
        width: 50px;       
    }
}

@media (max-width:646px) {
    .book_window {
        width: 100%;
        padding: 16px;
        gap: 8px;
        margin: 8px;
    }

    h2{
        font-size: 16px;
    }

    .table_data {
        font-size: 12px;
    }
}
