.madsuke{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 75px;
    border: ridge;
    margin: 8px;
    margin-left: 50px;
    
}

.book_img{
    padding: 8px;
    height: 120px;
    filter: drop-shadow(0px 0px 5px rgb(15, 233, 33));
    
}

.heart_img{
    cursor: pointer;
    height: 20px;
    transition: ease-in-out 300ms;
}

.heart_img:hover{
    transform: rotateY(180deg);
}

.message_img{
    height: 70px;
    transition: ease-in-out 300ms;

}

.message_img:hover{
    height: 55px;
    transform: rotateZ(15deg);
    transition: ease-in-out 300ms;
    padding: 7.5px;

}

@media (max-width:768px) {
    .madsuke{
        height: 50px;
        width: 50px;       
    }
}

@media (max-width:644px) {
    .madsuke{
        margin: 8px;
    }
}