.table_data{
    width: 95%;
    display: block;
    table-layout: auto;
    margin-bottom: 16px;
    
}

th{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-right: 10px;
    text-align: start;
}

td{
    width: 100%;
    text-align: start;
    padding-bottom: 8px;
}

@media (max-width:646px) {
    .table_data {
        font-size: 12px;
    }
}
